:root{
    --primarycolor: white;
}

.country{
    color: white;
margin: 20px;
font-size:50px}
form{
    margin:20px
}
.weather{
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    max-width: 600px;
    border:2px solid  #fff1eb;
    border-radius: 4px;
    
    margin: 40px auto;
}
#weather-content-1{
    background:#1a73e8;
    padding:10px;
    border-radius: 10px;
    color:white;
    width:200px;  
}
#temperature{
    position: relative;
    display: flex;
}
.unit{
    font-size: 25px;
   
    position:relative;
}
.temperature-value{
    font-size: 50px;
    color: white;
}
#weather-content-2{
    background:#1a73e8;
    border-radius: 10px;
   padding:10px;
    color:White;
    width:200px;  
    
}
#search{padding:10px}
#submit{
    background:#1a73e8;
    width: 100px;
    padding:10px;
}
#submit:hover{background: #0f5a9c;
    border: 2px solid #fff1eb;
    color:white;}
.emoji{
    
    height: 80px;
   
}
#loader-text{
    color: #0f5a9c;
}
a{text-decoration: none;
color:#0f5a9c;
}
a:hover{
    cursor: pointer;
    color:#B0B5CC;
    transition: 2ms all ease;
}
.description{
    color:#B0B5CC;
    margin:  0px 30px 10px 30px;
    font-weight: bold;
}
.Loader{
    
display: flex;
justify-content: center;
margin-top: 200px;
}
footer{
    color:#1a73e8;
    margin: 20px;
}
.error-message {
    color: red;
    font-size: 14px;
    margin: 20px;
    
}
@media(max-width : 500px){
  
  
    .country{
        font-size: 30px;

    
    }
        .unit{
            font-size: 20px;;
        }
        .temperature-value{
            font-size: 40px;

        }
        .emoji{
        width: 80px;}
        #submit{max-width:65px;
            text-align: center;
            
        }
        #weather-content-1{
            width:100px;
        }
        #weather-content-2{
            width:100px;
        }
      
}