:root{
    --primarycolor: white;
}

.country{
    color:#0f5a9c;
font-size:50px;
font-family: "Roboto", sans-serif;
font-weight: bold;

margin: 20px 10px 10px 10px;}
form{
    margin: 20px 20px 20px 20px;
    
}
.weather{
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    max-width: 600px;
    border:2px solid #1a73e8;
    border-radius: 8px;
   
    
    margin: 40px auto;
}
#weather-content-1{
    background:#1a73e8;
    padding: 10px;
    border-radius: 8px;
    color:white;
    margin: 10px 10px 10px 10px;
      
}
#weather-content-2{
    background:#1a73e8;
    padding: 10px;
    border-radius: 8px;
    color:White;
    margin: 10px 10px 10px 10px;
    
    
}
p{
    line-height: 5px;
    padding:4px;
  

}
#temperature{
    position: relative;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: bold;
    margin-left: 40px;
}
#unit{
    font-size: 20px;
    
    position:relative;
}
.temperature-value{
    font-size: 50px;
    color:#0f5a9c;
}

#search{padding:10px}
#submit{
    background:#1a73e8;
    width: 150px;
    padding:10px;
    text-align: center;
    box-shadow: 0, 0, 0, 1;
    color:white;
}
#submit:hover{background: #0f5a9c;
    box-shadow: 0, 0, 0, 1;
    color:white;}
.emoji{
    
    height: 80px;
   
}
#loader-text{
    color: #0f5a9c;
}
a{

color:#1a73e8;
font-weight: bold;
}
a:hover{
    cursor: pointer;
    color:#B0B5CC;
    transition: 2ms all ease;
}
.description{
    color:#B0B5CC;
    margin:  0px 30px 10px 30px;
    font-weight: bold;
}
.Loader{
    
display: flex;
justify-content: center;
margin-top: 200px;
}
footer{
    color: #0f5a9c;;
    margin: 20px;
    font-size: 15px;
}
.error-message {
    color: red;
    font-size: 14px;
    margin: 20px;
    
}
@media(max-width : 500px){
  
  
    .country{
        font-size: 40px;
        text-align: center;
    
    }

        .unit{
            font-size: 20px;;
        }
        .temperature-value{
            font-size: 40px;
           

        }
        #temperature{
            justify-content: center;
            margin-left: 0px;
        }
        .emoji{
        width: 80px;}
        #submit{width:85px;
            text-align: center;
            
        }
   
        
}